<br>

<div class="card bg-dark text-white">
  <div class="card-header">
    New Article
  </div>
  <div class="card-body">
    <%= render "form", article: @article %>
  </div>
</div>

<div>
  <%= link_to "Back to articles", articles_path %>
</div>
